* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  body {
	font-family: Arial, sans-serif;
	line-height: 1.5;
  }
  
  header {
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
  }
  
  nav ul {
	list-style: none;
	display: flex;
  }
  
  nav li:not(:last-child) {
	margin-right: 1rem;
  }
  
  nav a {
	color: #fff;
	text-decoration: none;
  }
  nav a:hover{
	color:blue;
  }
  main {
	margin: 0 auto;
	padding: 2rem;
  }
  
  .hero {
	background-color: #f0f0f0;
	text-align: center;
	padding: 4rem 0;
  }
  
  .hero h2 {
	font-size: 3rem;
	margin-bottom: 2rem;
  }
  
  .hero p {
	font-size: 1.2rem;
	margin-bottom: 2rem;
  }
  
  .hero button {
	background-color: #fff;
	color: #333;
	border: none;
	border-radius: 4px;
	padding: 1rem 2rem;
	font-size: 1.2rem;
	cursor: pointer;
  }
  
  .features {
	margin-top: 4rem;
  }
  
  .features h2 {
	text-align: center;
	font-size: 2.5rem;
	margin-bottom: 2rem;
  }
  
  .grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 2rem;
  }
  
  .grid-item {
	background-color: #f0f0f0;
	padding: 2rem;
	text-align: center;
  }

  .grid-item:hover,.hero:hover,.flex-item:hover{
	background-color: rgb(228, 228, 180);
  }
  
  .grid-item h3 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
  }
  
  .grid-item p {
	font-size: 1.2rem;
  }
  
  .feedback {
	margin-top: 4rem;
  }
  
  .feedback h2 {
	text-align: center;
	font-size: 2.5rem;
	margin-bottom: 2rem;
  }
  
  .flex-container {
	display: flex;
	justify-content: space-between;
  }
  
  .flex-item {
	background-color: #f0f0f0;
	padding: 2rem;
	text-align: center;
	margin-right: 2rem;
  }
  
  .flex-item p {
	font-size: 1.2rem;
	margin-bottom: 1rem;
  }
  
  .flex-item h4 {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
  }
  
  footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 1rem;
  }
  